<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Práctica tu japonés</h1>
        <p class="lead text-muted"> texto pero no se me ocurre nada</p>
        
        
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

        <div class="row">

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn-icons-png.flaticon.com/512/12/12641.png" class="card-img-top" alt="Kanji">
                    <div class="card-body">
                        <h4>Kanji</h4>
                      <p class="card-text">Se mostrará en la pantalla una serie de tarjetas con los kanjis seleccionados
                        anteriormente y tendras que seleccionar su traduccion. 
                      </p>
                    </div>
                  </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <img src="https://cdn-icons-png.flaticon.com/512/12/12661.png" class="card-img-top" alt="Hiragana">
                    <div class="card-body">
                        <h4>Hiragana</h4>
                      <p class="card-text">Se mostrará en la pantalla una serie de tarjetas con los hiraganas seleccionados
                        anteriormente y tendras que seleccionar su lectura en romanji.
                      </p>
                    </div>
                  </div>
            </div>

            <div class="col ">

                <div class="card" style="width: 18rem;">
                    <img src="https://cdn-icons-png.flaticon.com/512/12/12637.png" class="card-img-top" alt="Katakana">
                    <div class="card-body">
                        <h4>Katakana</h4>
                      <p class="card-text">Se mostrará en la pantalla una serie de tarjetas con los Katakanas seleccionados
                        anteriormente y tendras que seleccionar su lectura en romanji.
                      </p>
                    </div>
                  </div>
            </div>
        </div>
        
       


          


    </div>
  </div>
