<nav class="navbar navbar-expand-lg " style="height: 40px; background-color: #087990;">
  <div class="container-fluid">


    <div class="row" style="margin: 25px 0px 16px;">
      <!-- N5 -->
      <div class="col" style="color:white;">
        <ul class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            N5
          </a>
          <ul class="dropdown-menu">
            <!-- guia -->
            <li
            routerLink="/guia"
            routerLinkActive="active"
            ><a class="dropdown-item">Guia</a></li>
            <!-- vocabulario -->
            <li
            routerLink="/vocabulario"
            routerLinkActive="active"
            ><a class="dropdown-item">Vocabulario</a></li>
            <!-- DLC -->
            <li
            routerLink="/dlc"
            routerLinkActive="active"
            ><a class="dropdown-item">Contenido Descargable</a></li>

            <!-- HKK -->
            <li
            routerLink="hkk"
            routerLinkActive="active"
            ><a class="dropdown-item">Hiragana/Katakana/Kanjis</a></li>
          </ul>
        </ul>
      </div>

      <!-- FORO -->
      <div class="col" >
        <a class="navbar-brand fw-bold "
        style="color:white;"
        routerLink="foro"
        routerLinkActive="active"
        >Foro </a>
      </div>
      
      <!-- Practica tu japones -->
      <div class="col">
        <a class="navbar-brand fw-bold" 
        routerLink="practica"
        routerLinkActive="active"
        style="color:white;">¡Practica tu japones!</a>
      </div>

      <!-- FT -->
      <div class="col">
        <a class="navbar-brand fw-bold" 
        routerLink="ft"
        routerLinkActive="active"
        style="color:white;">Foro Traducciones</a>
      </div>

    </div>

  </div>
</nav>