
<div class="header">
    <h2>Foro de Traducciones</h2>
  </div>
  
  <div class="row" style="padding: 0cm 2cm  ;">

    <div class="leftcolumn">
      <div class="card">
        
        
        <div class=" card container">

            <!-- CAMILE -->
            <div class="row align-items-start">
                <div class="col">
                    <h5>Camile</h5>
                </div>
                <div class="col">  
                <p></p>
                </div>
                <div class="col">
                    <p class="text-muted text-end"> 21/11/22  </p>
                </div>
            </div>
                <p>Un amigo me dijo que la palabra “wabi sabi” tenia un significado interesante, 
                pero me gustaria saber exactamente que significa
                o a que hace referencia y como se podria usar (ya que mi amigo no me supo responder). Gracias.
                </p> <hr>
                
            <!-- VENANCIO     -->
            <div class="row align-items-start">
                <div class="col">
                    <h5>Venancio</h5>
                </div>
                <div class="col">  
                    <p></p>
                </div>
                <div class="col">
                    <p class="text-muted text-end"> 25/11/22  </p>
                </div>
            </div>
                <p>Según el diccionario 侘寂 [わびさび] es un sustantivo y lo define como 
                “sentido de estética en el arte japonés sobre la aceptación de la transitoriedad e imperfección”.
                Entiendo que es algún tipo de filosofía del arte basada en enseñansas budistas.
                </p> <hr>
                <div class="hstack gap-3">
                    <input class="form-control me-auto" type="text" placeholder="Añadir un comentario" aria-label="Añade un comentario...">
                    <button type="button" class="btn botonCyan">Responder</button>
                    
                  </div>    
        </div>  

            
      
        
        
      </div>
      <div class="card">
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
    </div>
   
  
        <div class="rightcolumn"  >
            
                <div class="card">
                    <h2>Traducciones</h2> 
                    <p>En este foro puedes preguntar por algun texto en especifico o 
                        puedes comentar sobre tecnicas para traducir.</p>
                </div>
                <div class="card">
                    <h3>¡Otros foros!</h3> <hr>
                    <button
                    routerLink="home"
                    routerLinkActive="active" 
                    type="button" class="btn btn-primary" style="background-color: #087990;">Registrarse</button>
                </div>
                
           
            
        </div>
  </div>
  
  <div class="footer">
    
<div class="m-5">
  
    <button class="btn btn-outline-danger" (click)="salir()">Salir</button>
  </div>
  
  </div>
