<nav
class="navbar" style="background-color: #ffffff; padding: 10px 15px;">
    <div class="container-fluid">
        <a 
        routerLink="foro"
        routerLinkActive="active"
        class="navbar-brand"
        >
            <img src="https://cdn-icons-png.flaticon.com/512/2362/2362789.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            La oreja japonesa
        </a>
    
        <div>
            <ul class="nav justify-content-end">
                <li class="nav-item text-center" style="padding: 0px 10px;">
                    <div class="btn-group">
                        <a
                        routerLink="login"
                        routerLinkActive="active" 
                        type="button" class="btn">
                        ¿Ya tienes una cuenta? Inicia sesión
                        </a>
                        
                          <!-- <ul class="btn-lg-end">    
                          </ul> -->
                      </div>
                </li>
                <li class="nav-item">
                    <button
                    routerLink="registro"
                    routerLinkActive="active" 
                    type="button" class="btn botonCyan">Registrarse</button>
                </li>
            </ul>
        </div>

    </div>
  </nav>