<!-- 
<div class="m-5">
  <h1>Mi aplicacion secreta</h1>
  <button class="btn btn-outline-danger" (click)="salir()">Salir</button>
</div> -->

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Bienvenido a nuestros Foros</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold">Aprende el lenguaje</h3>
        <p class="text-muted">¿Tienes alguna duda con el idoma? En este foro eres libre de preguntar cualquier duda que tengas.</p>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 g-4 border-bottom">
        <div class="d-flex flex-column gap-2 border-bottom">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Aplicaciones para estudiar</h4>
          <p class="text-muted">En este foro te recomendamos aplicaciones para  estudiar y/o consultar vocabulario.</p>
        </div>

        <div class="d-flex flex-column gap-2 border-bottom">
          <div 
            
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Traducciones</h4>
          <button 
          routerLink="ft"
          routerLinkActive="active">mocosotge</button>
          <p class="text-muted">En este foro puedes preguntar por algun texto en especifico o puedes comentar sobre tecnicas para traducir.</p>
        </div>

        <div class="d-flex flex-column gap-2 border-bottom">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Creadores de contenido</h4>
          <p class="text-muted">Si buscas creadores de contenido de alguna red social en especifico ¡Este es el foro!.</p>
        </div>

        <div class="d-flex flex-column gap-2 border-bottom">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Foro de sugerencias</h4>
          <p class="text-muted">Todas las criticas son constructivas, reporta algun error o ideas que podamos implementar en nuestra pagina.</p>
        </div>
      </div>
    </div>
  </div>
