<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Contenido descargable</h2>
    <h3>Hojas de práctica</h3>
    <p>Descarga nuestro formato pdf para que puedas mejorar más rápido tu escritura; 
      Tendrás bastante espacio para practicar cada letra y además, están indicados los trazos y terminaciones.</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">  
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h3 class="fs-2">Hiragana</h3>
          
          <a href="#" class="btn btn-primary">
            Primary button
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h3 class="fs-2">Katakana</h3>
          <a href="#" class="btn btn-primary">
            Primary button
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h3 class="fs-2">Kanji</h3>
          <a href="#" class="btn btn-primary">
            Primary button
          </a>
        </div>
      </div>
    </div>

    <h3>Tarjetas</h3>
    <hr>
    <p>Descarga nuestras tarjetas con los silabos</p>

    <svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="bootstrap-icons.svg#heart-fill"/>
    </svg>
    <svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="bootstrap-icons.svg#toggles"/>
    </svg>
    <svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="bootstrap-icons.svg#shop"/>
    </svg>
    <p>mocoooos</p>
  </div>
